<div class="d-flex justify-content-center">
    <h1>Venta</h1>
</div>
<div class="d-flex justify-content-center">
    <table class="table table-dark">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th>Documento</th>
                <th>Fecha</th>
                <th>
                    <button class="btn btn-primary" type="button" (click)="toGo()">
                        <i class="fas fa-plus"></i>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sale of sales; let i = index">
                <td class="text-center">{{i + 1}}</td>
                <td>{{sale.documento}}</td>
                <td>{{sale.fecha}}</td>
                <td>
                    <button class="btn btn-warning" type="button" (click)="toEdit(sale.id)">
                        <i class="far fa-edit"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
