<form [formGroup]="formDetalle">
    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <label for="product">Producto:</label>
                <select (ngModelChange)="setPrice()" name="product" id="product" class="form-control"
                    formControlName="producto_id">
                    <option value="0">-- PRODUCTO --</option>
                    <option *ngFor="let product of products" [value]="product.id">{{product.nombre}}</option>
                </select>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="amount">Cantidad:</label>
                <input type="number" id="amount" name="amount" class="form-control" formControlName="cantidad"
                    placeholder="###">
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label for="desc">Descuento:</label>
                <input type="number" id="desc" name="desc" formControlName="descuento" class="form-control"
                    placeholder="###">
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label for="price">Precio:</label>
                <input type="number" id="price" name="price" formControlName="precio" class="form-control"
                    placeholder="###.##">
            </div>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-around">
            <button class="btn btn-primary btn-sm" type="buttom" (click)="addRow()">
                <i class="fas fa-check"></i>
            </button>
            <button class="btn btn-danger btn-sm" type="button" (click)="toClean()">
                <i class="far fa-times-circle"></i>
            </button>
        </div>
    </div>
</form>
<div>&nbsp;</div>
<div class="row">
    <div class="col">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Cod. Producto</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Descuento</th>
                    <th>Precio</th>
                    <th>Total</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let detail of form.value.detalles; let i = index">
                    <td class="text-center">{{detail.producto_id}}</td>
                    <td>{{detail.nombre}}</td>
                    <td class="text-right">{{detail.cantidad}}</td>
                    <td class="text-right">{{detail.descuento}}</td>
                    <td class="text-right">{{detail.precio}}</td>
                    <td class="text-right">{{detail.total}}</td>
                    <td>
                        <button class="btn btn-danger" type="button" (click)="toDeleteRow(i)">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>

                </tr>
            </tbody>
            <tfoot>
                <tr class="float-right">
                    <td colspan="4">&nbsp;</td>
                    <td>Total</td>
                    <td class="text-right">{{total}}</td>
                    <td>&nbsp;</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>