<div class="row">
    <div class="col-3">
        <div class="form-group">
            <label for="product">Producto:</label>
            <select name="product" id="product" class="form-control"></select>
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <label for="amount">Cantidad:</label>
            <input type="number" id="amount" name="amount" class="form-control" placeholder="###">
        </div>
    </div>
    <div class="col-2">
        <div class="form-group">
            <label for="desc">Descuento:</label>
            <input type="number" id="desc" name="desc" class="form-control" placeholder="###">
        </div>
    </div>
    <div class="col-2">
        <div class="form-group">
            <label for="price">Precio:</label>
            <input type="number" id="price" name="price" class="form-control" placeholder="###.##">
        </div>
    </div>
    <div class="col-2 d-flex align-items-center justify-content-around">
        <button class="btn btn-primary btn-sm" type="buttom">
            <i class="fas fa-check"></i>
        </button>
        <button class="btn btn-danger btn-sm" type="button">
            <i class="far fa-times-circle"></i>
        </button>
    </div>
</div>
<div>&nbsp;</div>
<div class="row">
    <div class="col">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Cod. Producto</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Descuento</th>
                    <th>Precio</th>
                    <th>Total</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
            <tfoot>
                <tr class="float-right">
                    <td colspan="4">&nbsp;</td>
                    <td>Total</td>
                    <td class="text-right">0.00</td>
                    <td>&nbsp;</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>