<form [formGroup]="form" (ngSubmit)="toSave()">
    <div class="d-flex justify-content-center">
        <h2>Producto</h2>
    </div>
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary" title="Guardar" type="submit"><i class="fas fa-save"></i></button>
        &nbsp;
        <button class="btn btn-danger" title="Limpiar" (click)="toClear()" type="button"><i
                class="fas fa-ban"></i></button>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <label for="name">Nombre:</label>
                <input type="string" id="name" name="name" class="form-control" placeholder="..."
                    formControlName="nombre">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="cost">Costo:</label>
                <input type="number" id="cost" name="cost" class="form-control" placeholder="###.##"
                    formControlName="costo">

            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="price">Precio:</label>
                <input type="number" id="price" name="price" class="form-control" placeholder="###.##"
                    formControlName="precio">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="desc">Descripcion:</label>
                <textarea name="desc" id="desc" placeholder="..." class="form-control"
                    formControlName="descripcion"></textarea>
            </div>
        </div>
    </div>
</form>