<div class="d-flex justify-content-center">
    <table class="table table-dark">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th>Inicio</th>
                <th>Fin</th>
                <th>
                    <button class="btn btn-primary" type="button" (click)="toGo()">
                        <i class="fas fa-plus"></i>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let turn of turns; let i = index">
                <td class="text-center">{{i + 1}}</td>
                <td>{{turn.fecha_inicio | date:'dd/MM/yyyy'}}</td>
                <td>{{turn.fecha_fin  | date:'dd/MM/yyyy'}}</td>
                <td>
                    <button class="btn btn-warning" type="button" (click)="toEdit(turn.id)">
                        <i class="far fa-edit"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
