<form [formGroup]="form" (ngSubmit)="toSave()">
    <div class="d-flex justify-content-center">
        <h2>Proveedor</h2>
    </div>
    <div class="d-flex justify-content-end">
        <button [disabled] = "form.invalid" class="btn btn-primary" title="Guardar" type="submit"><i class="fas fa-save"></i></button>
        &nbsp;
        <button class="btn btn-danger" title="Limpiar" (click)="toClear()" type="button"><i
                class="fas fa-ban"></i></button>
    </div>
    <div class="row">
        <div class="col">
            <app-entity [form]="form"></app-entity>
        </div>
    </div>
</form>