<form [formGroup]="form" (ngSubmit)="toSave()">
    <div class="d-flex justify-content-center">
        <h2>Compra</h2>
    </div>
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary" title="Guardar" type="submit"><i class="fas fa-save"></i></button>
        &nbsp;
        <button class="btn btn-danger" title="Limpiar" (click)="toClear()" type="button"><i
                class="fas fa-ban"></i></button>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <label for="employ">Sucursal:</label>
                <select class="form-control" name="employ" id="employ" formControlName="sucursal_id">
                    <option value="0">-- SUCURSALES --</option>
                    <option *ngFor="let branch of branches" [value]="branch.id">{{branch.direccion}}</option>
                </select>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="provider">Proveedor:</label>
                <select name="provider" id="provider" class="form-control" formControlName="proveedor_id">
                    <option value="0">-- PROVEEDOR --</option>
                    <option *ngFor="let provider of providers" [value]="provider.id" [value]="provider.id">
                        {{provider.nombre}}
                        {{provider.apellido}}</option>
                </select>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="doc">Documento:</label>
                <input type="text" id="doc" name="doc" placeholder="..." class="form-control"
                    formControlName="documento">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="date">Fecha:</label>
                <input type="date" id="date" name="date" class="form-control" formControlName="fecha">
            </div>
        </div>
    </div>
    <hr>
    <app-product-detail [form]="form"></app-product-detail>
</form>