<div class="d-flex justify-content-center">
    <h1>Proveedor</h1>
</div>
<div class="d-flex justify-content-center">
    <table class="table table-dark">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>
                    <button class="btn btn-primary" type="button" (click)="toGo()">
                        <i class="fas fa-plus"></i>
                    </button>
                </th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let provider of providers; let i = index">
                <td class="text-center">{{i + 1}}</td>
                <td>{{provider.nombre}}</td>
                <td>{{provider.apellido}}</td>
                <td>
                    <button class="btn btn-warning" type="button" (click)="toEdit(provider.id)">
                        <i class="far fa-edit"></i>
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger" type="button" (click)="toDelete(provider.id, i)">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
