/* You can add global styles to this file, and also import other style files */
label {
    font-weight: bold;
}

html, body {
    height: 100%;
}

.card-menu {
    height: 100px !important; 
    width: 150px;
    border-radius: 10px 100px / 120px !important;
    cursor: pointer;
}
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";
