<form [formGroup]="form" (ngSubmit)="toSave()">
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary" title="Guardar" type="submit"><i class="fas fa-save"></i></button>
        &nbsp;
        <button class="btn btn-danger" title="Limpiar" (click)="toClear()" type="button"><i class="fas fa-ban"></i></button>
    </div>
    <div class="row">
        <div class="col-1">
            <div class="form-group">
                <label for="dots">Puntos:</label>
                <input type="number" class="form-control" formControlName="puntos">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-entity [form]="form"></app-entity>
        </div>
    </div>
</form>